In [5]:
import pandas as pd
import matplotlib.pyplot as plt

import numpy as np

In [6]:
df=pd.read_csv("Task 3 and 4_Loan_Data.csv")
df.head(5)

,customer_id,credit_lines_outstanding,loan_amt_outstanding,total_debt_outstanding,income,years_employed,fico_score,default
0,8153374,0,5221.545193,3915.471226,78039.38546,5,605,0
1,7442532,5,1958.928726,8228.752520,26648.43525,2,572,1
2,2256073,0,3363.009259,2027.830850,65866.71246,4,602,0
3,4885975,0,4766.648001,2501.730397,74356.88347,5,612,0
4,4700614,1,1345.827718,1768.826187,23448.32631,6,631,0

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [9]:
def LogisticReg(df):
    X= df[['credit_lines_outstanding','loan_amt_outstanding','total_debt_outstanding','income','years_employed','fico_score']]
    y = df['default']

    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
    clf = LogisticRegression(max_iter=1000,random_state=0)
    clf.fit(X_train,y_train)
    accuracy= accuracy_score(y_test,clf.predict(X_test))
    y_proba = clf.predict_proba(X_test)[:,1]

    return accuracy,clf
acc,model=LogisticReg(df)
print(acc)

0.9965

In [10]:
 def eld(customer,model,df,recover_rate = .10):
    row = df.loc[df["customer_id"] == customer]
    ead = row["loan_amt_outstanding"].values[0]
    features = row[['credit_lines_outstanding','loan_amt_outstanding',
                         'total_debt_outstanding','income','years_employed','fico_score']]
    pd= model.predict_proba(features)[0,1]
    lgd=1- recover_rate
    el = pd*ead*lgd
    return el

ans= eld(8153374,model,df,recover_rate = .10)
print(ans)

9.486142177115715e-14

In [26]:
def fico_bucket(df,K):
    print(df.head(5))
    fico_score = df["fico_score"]
    width = (850-300)/(K)
    bound = []
    for i in range (0,K+1):
        bound.append(300+i*width)
    buckets = [[] for j in range(K) ]
    for score in fico_score:
        idx = int((score-300)/(width))
        rating = (K-1) - idx
        buckets[rating].append(score)
    return buckets    
        
buckets = fico_bucket(df, K=20)

   customer_id  credit_lines_outstanding  loan_amt_outstanding  \
0      8153374                         0           5221.545193
1      7442532                         5           1958.928726
2      2256073                         0           3363.009259
3      4885975                         0           4766.648001
4      4700614                         1           1345.827718

   total_debt_outstanding       income  years_employed  fico_score  default
0             3915.471226  78039.38546               5         605        0
1             8228.752520  26648.43525               2         572        1
2             2027.830850  65866.71246               4         602        0
3             2501.730397  74356.88347               5         612        0
4             1768.826187  23448.32631               6         631        0

In [ ]:
would split the FICO score range (300â€“850) into 20 equal-width buckets. Equal width is simple and effective for this task, while more advanced approaches like log-likelihood could be used in a real banking 
context for greater accuracy.After assigning each score to its bucket, I would flip the labels so that higher scores correspond to lower ratings, consistent with the requirement that a lower rating means better credit.